@font-face {
  font-family: 'DFDS-bold';
  src: url("/styles/dfds-bold.eot");
  src: url("/styles/dfds-bold.eot?#iefix") format("embedded-opentype"), url("/styles/dfds-bold.woff") format("woff"), url("/styles/dfds-bold.ttf") format("truetype"), url("/styles/dfds-bold.svg#dfds-bold") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'DFDS-light';
  src: url("/styles/dfds-light.eot");
  src: url("/styles/dfds-light.eot?#iefix") format("embedded-opentype"), url("/styles/dfds-light.woff") format("woff"), url("/styles/dfds-light.ttf") format("truetype"), url("/styles/dfds-light.svg#dfds_lightregular") format("svg");
  font-weight: 700;
  font-style: normal; }

.twee{
    visibility: hidden;
    position: absolute;
}

.Tweeinhoudfilter{
    visibility: hidden;
    position: absolute;
}

body{
    font-size: 16px;
}

header {
    padding-top: 0.4em;
    width: 100%;
    border-bottom: 0.1em solid #434950;
}

.logo{
    display:inline;
    width: 10em;
}

.filter{
    padding: 9px 12px;
    font-family: 'DFDS-bold';
    font-size: 1em;
    float: right;
}

main{
    width: 100%;
    margin: auto;
}

.inhoudfilter{
    background-color: #EEF0F1;
    font-size: 1.2em;
    text-align: center;
    padding-top: 1em;
}

.inhoudfilter h1{
    border-bottom: 0.1em solid black;
    text-align: center;
    font-size: 1em;
}

.inhoudfilter li{
    list-style-type: none;
    display: flex;
    width: 25%;
    background-color: #FFF;
    padding: 0.8em;
    font-family: 'DFDS-light';
    margin-bottom: 2em;
    box-shadow: 0.1em 0.3em 0.5em;
}

inhoudsfilter, li:nth-child(1), li:nth-child(2){
    display: inline-block;
    margin: auto;
    margin-bottom: 1em;
}

inhoudsfilter, li:nth-child(4), li:nth-child(3){
    margin: auto;
    flex-direction: column;
    display: inline-block; 
    margin-bottom: 1em;
}

inhoudsfilter, li:nth-child(5){
    margin: auto;
    padding-right: 36%;
    margin-bottom: 1em;;
    
}

inhoudsfilter, li:nth-child(6), li:nth-child(7){
    display: inline-block;
    margin-right: 1em;
    margin: auto;
    margin-bottom: 3%;
    background-color: #002B45;
    color: #FFF;
}

.leeghartje {
    max-width: 1em;
    text-align: center;
    
}

header section h1{
    font-size: 2em;
}

header button{
    font-size: 1.5em;
    font-family: 'DFDS-light';
}

section > h1 {
    font-family: 'DFDS-bold';
    /*text-shadow:0 0 .2em white, 0 0 .2em black;*/
}

article{
    border-bottom: 0.2em solid #F6861F;
}


.tekst{
    font-size: 1em;
}



.data {
    width: 90%;
    margin: auto;
    display: flex;
    background-color: aquamarine; 
}

.data > *{
    flex-basis: 33%;
    text-align: center;
}

.inhoud{
    padding: 2em;
    font-size: 1em;
}

.inhoudEEN{
    padding: 2em;
    font-size: 1em;
}

/*article section{
    display: flex;
    height: 10em;
    margin-top: 2em;
    border-top: 0.4em solid #434950;
    padding-top: 3em;
}
*/

.MijnLijst{
    font-size: 1.5em;
    font-family: 'DFDS-light';
    text-align: center;
    /*box-shadow: 0.03em 0.03em 0.5em;*/
}

.aantal{
    font-size: 1.5em;
    font-family: 'DFDS-light';
}

.woorden{
    font-size: 1.5em;
    font-family: 'DFDS-light';
}

article > section > span:nth-child(1){
    background-color: #EEF0F1;
    /*border-top: 5em solid #EEF0F1;
	border-right: 2em solid transparent;
    border-bottom: 10em solid #EEF0F1;
    border-right: 1em solid transparent;
    border-left: 0em solid transparent;*/
}

section p.aantal {
    /*border-radius: 0em 0em 2em 30em;
    padding: 0.3em 0.8em 0.3em 0.8em; */   
}

article section span:nth-child(2){
    /*border-bottom: 5em solid #EEF0F1;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent; */
    background-color: #EEF0F1;
    border-left: 0.3em solid #434950;
    border-right: 0.3em solid #434950;
}

article section span:nth-child(3){
    /*border-top: 5em solid #EEF0F1;
	border-left: 2em solid transparent;*/
    background-color: #EEF0F1
}

.besturingsknoppen{
    font-size: 2em;
    font-family: 'DFDS-light';
    text-align: center;
    padding-bottom: 3%;
    padding-bottom: 0.4em solid #434950;
}

.besturingsknoppen a:nth-child(1){
    margin-right: 0.8em;
    margin-left: 0.6em;
}

.besturingsknoppen a:nth-child(2){
    border-right: 0.1em solid #434950;
    border-left: 0.1em solid #434950;
    padding: 0em 1em;
}

.number, .tekst h2{
    display: flex;
}

.number{
    font-size: 2.5em;
    font-family: 'DFDS-light';
    border-right: 0.1em solid #F6861F;
    display: table;
    padding-right: 0.3em;
    position: relative;
}

.tekst h2{
    font-family: 'DFDS-Bold';
    font-size: 2em; 
    transform: translate(3.1em,0em);
    transform: translate(0em, 0.5em);
    display: table;
    position: relative;
    left: 3em;
    bottom: 1.3em;
    margin-top: -1.5em;
}

.tekst h3{
    font-family: 'DFDS-Bold';
    font-size: 2em;   
    transform: translate(3.1em,0em);
    display: table;
    position: relative;
    left: 0em;
    bottom: 0.3em;
    margin-top: -2em;
}

.tekst h4{
    font-family: 'DFDS-Bold';
    font-size: 2em;   
    transform: translate(3em,-0.1em);
    display: table;
    position: relative;
    left: 0em;
    bottom: 0.2em;
    margin-top: -2em;
}

.meer{
    /*
    border: 0.01em solid #6D6F71;
    box-shadow: 0.03em 0.03em 0.5em;
    margin: auto;
    float: right;*/
    font-size: 1.1em;
    font-family: 'DFDS-Bold';
    text-decoration: none;
    color: #fff;
    background-color: #F6881F;
    padding: 2% 10% 2% 10%;
}

.inhoud {
    font-family: "DFDS-Light";
    display: table;
    font-size: 1.2em;
    margin-bottom: 2em;
}


.inhoudEEN {
    font-family: "DFDS-Light";
    display: table;
    font-size: 1.2em;
    margin-bottom: 2em;    
}

/*  Voor Ipad   */

@media screen and (min-width: 35em) {    
    
.main{
    margin-right: 2%;
    margin-left: 2%;
    }
    
.inhoudfilter{
    visibility: hidden;
    position: absolute;
    }
    
.besturingsknoppen{
    font-size: 2.3em;
    margin-bottom: -0.8em;
}
     
header{
        padding-bottom: 1em;
    }
    
.filter{
        padding: 1em;
    }
    
.leeghartje{
    margin: none;
    padding:none;
    transform: none;
    max-width: 1.7em;
    }
    
    
/*article section{
    border-top: none;
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 1.5em;
    margin: auto;
    }
    
.MijnLijst{
    font-size: 1.5em;
    color: #fff;
    font-family: 'DFDS-light';
    text-align: center;
}

.aantal{
    position: absolute;
}

article > section > span:nth-child(1){
    border-top: 5em solid #6D6F71;
    border-left: 0em solid transparent;
    border-right: 0em solid transparent;
}

section p.aantal {
    font-family: 'DFDS-light';
    color: #fff;
}

.woorden{
    font-family: 'DFDS-light';
    text-align: center;
    color: white;
}

article section span:nth-child(2){
    border-bottom: 10em solid #6D6F71;
	border-left: 0em solid transparent;
	border-right: 0em solid transparent;
}
    
article section span:nth-child(3){
    border-top: 10em solid #6D6F71;
	border-left: 0em solid transparent;
    }
    
    */
    
article{
    background-color: #EEF0F1;
    max-width: 100%;
    margin-top: 3em;
    margin-top: 3em;
    margin-right: 3%;
    margin-left: 3%;
    }
    
.inhoud{
    max-width: 40em;
    font-size: 1.5em;
    padding-top: 0em;
    }
    
.inhoudEEN{
    padding-top: 0em;
    font-size: 1.4em;
    }
    
.number{
    border: none;
    margin-top: 0.2em;
}
    
.meer{
    float: right;
    width: auto;
    text-align: center;
    font-size: 1.1em;
    font-family: 'DFDS-Bold';
    text-decoration: none;
    color: #fff;
    background-color: #F6881F;
    padding: 2% 10% 2% 10%;
    }
    
.data{
        float: right;
        flex-direction: column;
        width: auto;
        border: none;
        color: #fff;
        width: 20%;
    }
    
article > section > span:nth-child(1){
    background-color: #6D6F71;
    padding-bottom: 20%;
    padding-top: 20%;
    /*border-top: 5em solid #EEF0F1;
	border-right: 2em solid transparent;
    border-bottom: 10em solid #EEF0F1;
    border-right: 1em solid transparent;
    border-left: 0em solid transparent;*/
}

article section span:nth-child(2){
    /*border-bottom: 5em solid #EEF0F1;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent; */
    background-color: #6D6F71;
    border-top: 0.3em solid #85BCE9;
    border-bottom: 0.3em solid #85BCE9;
    border-right: none;
    border-left: none;
    height: 30%;
}

article section span:nth-child(3){
    /*border-top: 5em solid #EEF0F1;
	border-left: 2em solid transparent;*/
    background-color: #6D6F71;
    height: 30%;
}
    
.besturingsknoppen{
    margin-top: 1em;
    }
    
}

/* Voor desktop */

@media screen and (min-width: 65em) {
    
.Tweeinhoudfilter{
    visibility: visible;
    background-color: #002B45;
    font-family: 'DFDS-bold';
    text-align: center;
    font-size: 1em;
    max-width: 22%;
    margin-top: 6em;

    }
    
ul{
    padding-left: 0em;
    }

.Tweeinhoudfilter h1{
    border-bottom: 0.1em solid #fff;
    text-align: center;
    font-size: 1.4em;
    color: #fff;
}

.Tweeinhoudfilter li{
    list-style-type: none;
    display: flex;
    width: 30%;
    background-color: #FFF;
    padding: 0.8em;
    font-family: 'DFDS-light';
    margin-bottom: 2em;
    margin: auto;
}

.Tweeinhoudsfilter, li:nth-child(1), li:nth-child(2){
    display: inline-block;
    margin: auto;
    margin-bottom: 1em;
}

Tweeinhoudsfilter, li:nth-child(4), li:nth-child(3){
    margin: auto;
    flex-direction: column;
    display: inline-block; 
    margin-bottom: 1em;
}

Tweeinhoudsfilter, li:nth-child(5){
    margin: auto;
    padding-right: 49%;
    margin-bottom: 1em;;
    
}

Tweeinhoudsfilter, li:nth-child(6), li:nth-child(7){
    display: inline-block;
    margin-right: 1em;
    margin: auto;
    margin-bottom: 3%;
    background-color: #002B45;
    color: #FFF;
    border: 0.1em solid #85BCE9;
}
    

.filter{
    visibility: hidden; 
    }
    
article{
    background-color: #EEF0F1;
    max-width: 55%;
    margin-top: 3em;
    margin-left: 24%;
    }

.inhoud{
       max-width: 40em; 
    }
}