@font-face {
  font-family: 'DFDS-bold';
  src: url("/styles/dfds-bold.eot");
  src: url("/styles/dfds-bold.eot?#iefix") format("embedded-opentype"), url("/styles/dfds-bold.woff") format("woff"), url("/styles/dfds-bold.ttf") format("truetype"), url("/styles/dfds-bold.svg#dfds-bold") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'DFDS-light';
  src: url("/styles/dfds-light.eot");
  src: url("/styles/dfds-light.eot?#iefix") format("embedded-opentype"), url("/styles/dfds-light.woff") format("woff"), url("/styles/dfds-light.ttf") format("truetype"), url("/styles/dfds-light.svg#dfds_lightregular") format("svg");
  font-weight: 700;
  font-style: normal; }

body{
    background-color: #002B45;
    color: #000;
    font-family: 'DFDS-Bold';
}

header{
    background-color: #fff;
    width: 100%;
    margin-bottom: 3%;
}

.logo{
    width: auto;
    width: 25%;
}

h1{
    color: #fff;
    font-size: 2em;
    font-family: 'DFDS-Bold';
    margin: auto;
    text-align: center;
}

label{
    font-size: 1.7em;
    
}

input{
    display: block;
    font-size: 1.3em;
    
}

form label:nth-of-type(1),input:nth-of-type(1){
    margin-bottom: 5%;
}

fieldset{
    border: none;
}

form{
    margin: auto;
    background-color: #fff;
    padding-bottom: 9%;
    margin-bottom: 9%;
    border: 0.3em solid #F6861F;
    width: 90%;
}

legend{
    display: none;
    
}

form a{
    font-size: 1.1em;
    font-family: 'DFDS-Bold';
    text-decoration: none;
    color: #fff;
    background-color: #F6881F;
    padding: 2% 10% 2% 10%;
    margin: auto;
    float: right;
    width: auto;
}

section a{
    font-size: 1.1em;
    font-family: 'DFDS-Bold';
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #F6881F;
    padding: 1em 3em 1em 3em;
    margin: auto;
}

section a:nth-of-type(1){
    border-right: 0.3em solid #002B45;
}

section{
    display: flex;
    flex-direction: row;
    width: 92%;
    margin: auto;
}
    
section a{
        padding: 1em 0em;
        width: 17em;
        text-align: center;
    }


@media screen and (max-width: 24em) { 
    
    section{
    display: flex;
    flex-direction: row;
    width: 92%;
    margin: auto;
}
    
section a:nth-of-type(1){
    padding: 1.16em 0em;
    text-align: center;
    font-size: 1em;
    }
    
}



@media screen and (min-width: 40em) {  

    fieldset{
        text-align: center;
    }
    
    input{
        margin: auto;
        padding: 2%;
    }
    
    section{
        max-width: 90%;
    }
    
    section a{
        padding: 1em 0em;
        width: 17em;
        text-align: center;
    }
    
/*
    section a:nth-of-type(2){
        padding: 1em 4em 1em 4em;        
    }
*/
}

@media screen and (min-width: 60em) {
    
header{
    max-height: 4em;
    }
    
.logo{
    max-width: 12em;
    }
    
form{
    width: 60%; 
    margin-bottom: 5em;
    }
    
section{
    flex-direction: column;
    max-width: 60%;
    margin-bottom: 5em;
}
    
section a{  
    padding: 1em 0em;
    width: 18em;
    text-align: center;
    }
    
    section a:nth-of-type(1){
        border-right: 0em;
        margin-bottom: 2em;
    }
    
}
