@font-face {
  font-family: 'DFDS-bold';
  src: url("/styles/dfds-bold.eot");
  src: url("/styles/dfds-bold.eot?#iefix") format("embedded-opentype"), url("/styles/dfds-bold.woff") format("woff"), url("/styles/dfds-bold.ttf") format("truetype"), url("/styles/dfds-bold.svg#dfds-bold") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'DFDS-light';
  src: url("/styles/dfds-light.eot");
  src: url("/styles/dfds-light.eot?#iefix") format("embedded-opentype"), url("/styles/dfds-light.woff") format("woff"), url("/styles/dfds-light.ttf") format("truetype"), url("/styles/dfds-light.svg#dfds_lightregular") format("svg");
  font-weight: 700;
  font-style: normal; }

body{
    background-color: #002B45;
    color: #000;
    font-family: 'DFDS-Bold';
}

header{
    background-color: #fff;
    width: 100%;
    margin-bottom: 3%;
}

.logo{
    width: auto;
    width: 25%;
}

h1{
    color: #fff;
    font-size: 2em;
    font-family: 'DFDS-Bold';
    margin: auto;
    text-align: center;
}
h1 spam{
    display: block;
    font-size: 0.8em;
}

label{
    font-size: 1.4em;
}

input{
    display: block;
    font-size: 1.2em;
    margin-bottom: 3%;
    border: 1px solid black;
}

input:not(placeholder-shown) {
    border: 1px solid black;
}

input:focus{
    background-color: gainsboro;
    
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

form label:nth-of-type(5){
    display: block;
}

.straatHuisnr{
    display: inline;
    width: 2em;
}

form .straatHuisnr input:nth-of-type(1){
    width: 7.3em;
    display: inline;
}

.hnr{
    display: inline-block;
    width: 4em;
    margin-left: 1em;
}

fieldset{
    border: none;
}

form{
    margin: auto;
    background-color: #fff;
    padding-bottom: 9%;
    margin-bottom: 9%;
    border: 0.3em solid #F6861F;
    width: 90%;
    height: 35em;
}

legend{
    display: none;
}

.om{
    float: right;
    margin: auto;
    display: flex;
}

form a{
    font-size: 1.1em;
    font-family: 'DFDS-Bold';
    text-decoration: none;
    color: #fff;
    background-color: #F6881F;
    padding: 0.4em 2em 0.4em 2em;
    margin: auto;
    float: right;
    width: auto;
}

.vierkant{
   border-top: 2.2em inset transparent;
   border-right: 2em solid #F6881F; 
   height: 0em;
   display: inline-block;
}

form a:hover{
   color: #002B45;
    
}

h2{
    color: #fff;
    font-size: 1.5em;
    font-family: 'DFDS-Bold';
    display: block;
    width: 100%;
}

section a{
    font-size: 1.1em;
    font-family: 'DFDS-Bold';
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #F6881F;
    padding: 1em 3em 1em 3em;
    margin: auto;
}

section a:hover{
    color: #002B45;
}

section a:nth-of-type(1){
    border-right: 0.3em solid #002B45;
}

section{
    display: flex;
    flex-direction: row;
    width: 92%;
    margin: auto;
}
    
section a{
        padding: 1em 0em;
        width: 17em;
        text-align: center;
    }

@media screen and (max-width: 24em) { 
    
    section{
    display: flex;
    flex-direction: row;
    width: 92%;
    margin: auto;
}
    
section a:nth-of-type(1){
    padding: 1.16em 0em;
    text-align: center;
    font-size: 1em;
    }

form input:nth-of-type(5){
    margin-top: 3%;
    margin-bottom: 2%;
}

form a{
    font-size: 1.4em;
}

.vierkant{
   border-top: 2.82em inset transparent;
}

}
@media screen and (min-width: 40em) {  

    
    form {
    height: 40em;
    }
    
    fieldset{
        text-align: center;
    }
    
    input{
        margin: auto;
        padding: 2%;
    }
    
    section{
        max-width: 90%;
    }
    
    form input:nth-of-type(5){
    margin-top: 3%;
    margin-bottom: 2%;
}
    
    section a{
        padding: 1em 0em;
        width: 17em;
        text-align: center;
    }
    
    form a{
    font-size: 1.4em;
}

.vierkant{
   border-top: 2.82em inset transparent;
}

}

@media screen and (min-width: 50em) {
    
form {
    height: 39em;
    max-width: 40em;
    }
    
header{
    max-height: 4em;
    }
    
.logo{
    max-width: 12em;
    }
    
h1{
    font-size: 2.5em;
    margin-top: -0.1em;
}
h1 spam{
    display: block;
    font-size: 0.8em;
}
    
form{
    width: 60%; 
    margin-bottom: 5em;
    }
    
section{
    flex-direction: column;
    max-width: 60%;
    margin-bottom: 5em;
}
    
section a{  
    padding: 1em 0em;
    width: 18em;
    text-align: center;
    }
    
section a:nth-of-type(1){
        border-right: 0em;
        margin-bottom: 2em;
    }
    
    form a{
    font-size: 1.7em;
}

.vierkant{
   border-top: 3.33em inset transparent;
}
    
    h2{
        text-align: center;
        
    }
    
}
    
}